extends layout

block content
  h1= title
  p Encrypt your stuff
  form(method='POST' action='/encryptor/encrypt')
    div.form-group
      label(for='text') Text:
      input#text.form-control(type='text' name='text')
    div.form-group
      label(for='key') Key:
      input#key.form-control(type='password' name='key')
    button.btn.btn-primary(type='submit') Encrypt

  p Decrypt your stuff
  form(method='POST' action='/encryptor/decrypt')
    div.form-group
      label(for='text') File name:
      input#text.form-control(type='text' name='text')
    div.form-group
      label(for='key') Key:
      input#key.form-control(type='password' name='key')
    button.btn.btn-primary(type='submit') Decrypt
