extends layout

block content
  h1.arcade= title
  p Welcome to #{title} with OpenShift: Level #{level}

  form(method='POST')
    div
      input(type='hidden', id='level', value=level)
      label(for='breakKey') Level code:
      input#breakKey(type='text', name='breakKey')
      input(type='hidden', id='username')
    button(id='breakBtn') Break!
    div
    button(id='checkBtn') Check
    div
      label(for='rollbackKey') Rollback code:
      input#rollbackKey(type='text', name='rollbackKey')
    button(id='rollbackBtn') Save me!

block scripts
  script(src='/javascripts/play.js')
