<div *ngIf="level === null">
  <form autocomplete="off" novalidate (ngSubmit)="setPassword(password)">
    <h3>Enter the master password</h3>
    <input type="password" [(ngModel)]="password" name="password" autofocus required>
    <button type="submit" class="password" tabindex="-1">Unlock</button>
  </form>
</div>
<div *ngIf="level !== null">
  <div *ngIf="toConfirm === ''">
    <h3>Level {{ level.id }}</h3>
    <div *ngIf="!processing; else showProcessing">
      <button *ngIf="level.status === levelStatus.Unlocked" (click)="toConfirm = 'break'">Break</button>
      <div *ngIf="level.status === levelStatus.Broken">
        <div>
          <button type="button" (click)="check()">Check</button>
        </div>
        <div>
          <button (click)="toConfirm = 'giveUp'">Give up</button>

        </div>
      </div>
      <div *ngIf="level.status === levelStatus.Locked">Unlock this level!</div>
      <div *ngIf="level.status === levelStatus.Fixed">
        <div>You solved this level</div>
        <div *ngIf="level.id < gameService.getGame().levels.length">
          <button [routerLink]="['/level', {id: level.id + 1}]">Next level</button>
        </div>
      </div>
    </div>
    <ng-template #showProcessing>
      <app-random-msg></app-random-msg>
    </ng-template>
  </div>
  <app-confirmation *ngIf="toConfirm === 'break'" [message]="'Obviously, this will break something. Continue?'" [confirmFn]="break"></app-confirmation>
  <app-confirmation *ngIf="toConfirm === 'giveUp'" [message]="'You won\'t get any points. Proceed?'" [confirmFn]="giveUp"></app-confirmation>
</div>
<div *ngIf="error !== ''" class="error-msg">{{ error }}</div>
<app-menu-btn></app-menu-btn>
