@import url(//fonts.googleapis.com/css?family=Press+Start+2P);
@import url(//fonts.googleapis.com/css?family=VT323);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
	margin: 0;
	padding: 10px;
	outline: none;
	background-color: black;
}

* {
	font: 24px "VT323", Helvetica, Arial, sans-serif;
	color: green;
}

input {
  background-color: black;
  border: dashed green;
	border-width: 0px 0px 3px 0px;
}

button {
	background-color: green;
	border: none;
	color: orangered;
	padding: 5px 15px;
	border-radius: 2px;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, .pixel {
  font-family: 'Press Start 2P';
  color: green;
}
